[flake8]
exclude =
    .git,
    .gitignore,
    *.pot,
    *.py[co],
    __pycache__,
    venv,
    .env,
    settings.py,
    __init__,

ignore =

    W291,
    W292,
    W293,
    W391,
    W503,

max-line-length = 200