<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for list in object_list %}
    <duv>
        <h2>
            hi
            <a href="{% url 'blog:post_detail' pk=list.id %}">{{list.title}}</a>
            <a href="{% url 'blog:edit' pk=list.id %}">
                <h5>EDIT</h5>
            </a>
            <a href="{% url 'blog:delete' pk=list.id %}">
                <h5>delete</h5>
            </a>
        </h2>
        <p>
            {{list.content}}
        </p>
        <hr>
        <hr>

    </duv>
    {% endfor %}
</body>
</html>